<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<nav class="navbar" style="background-color: #5bb75b;" role="navigation" aria-label="main navigation">
  <img src="../assets/images/edu.jpg" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;
  <span style="color:azure;">สำนักบริการคอมพิวเตอร์</span>
</nav>
<br>
<div class="col-sm-1"></div>
<!-- <div class="row"> -->
<div class="col-sm-11">
  <!-- <h3>Nav Tab left Side </h3> -->
  <!-- tabs -->
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li><a href="#home" data-toggle="tab" style="font-size:20px">จัดการเครื่องคอมพิวเตอร์</a></li>
      <li><a data-toggle="tab" style="font-size:20px" (click)="setadmin()">กำหนดสิทธผู้ดูแลระบบ</a></li>
      <li class="active"><a data-toggle="tab" style="font-size:20px" (click)="loginuser()">Login User</a></li>
      <li><a data-toggle="tab" style="font-size:20px" (click)="loginadmin()">Poweruser</a></li>
    </ul>
  </div>
</div>
