<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<nav class="navbar" style="background-color: #5bb75b;" role="navigation" aria-label="main navigation">
  <img src="../assets/images/edu.jpg" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;
  <span style="color:azure;">สำนักบริการคอมพิวเตอร์</span>
</nav>
<br>
<div class="col-sm-1"></div>
<!-- <div class="row"> -->
<div class="col-sm-11">
  <!-- <h3>Nav Tab left Side </h3> -->
  <!-- tabs -->
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li><a href="#home" data-toggle="tab" style="font-size:20px">จัดการเครื่องคอมพิวเตอร์</a></li>
      <li class="active"><a data-toggle="tab" style="font-size:20px" (click)="setadmin()">กำหนดสิทธผู้ดูแลระบบ</a></li>
      <li><a data-toggle="tab" style="font-size:20px" (click)="loginuser()">Login User</a></li>
      <li><a data-toggle="tab" style="font-size:20px" (click)="loginadmin()">Poweruser</a></li>
    </ul>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>