<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<nav class="navbar" style="background-color: #5bb75b;color: #fff;" role="navigation" aria-label="main navigation">
  <img src="../assets/images/edu.jpg" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;
  <span style="color:azure; padding-right: 1280px;" >สำนักบริการคอมพิวเตอร์</span>
</nav>

<br>
<span class="border"></span>
<!-- <div class="row"> -->

<div class="col-12">
  <div align="center">
    <h3 style="color:rgb(149, 147, 147)"> Administrator System </h3>
    <!-- <hr style="border-width:3px 10px 20px;" width="70%" color="#5bb75b"> -->
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn btn-secondary btn-success"
        style="width:400px;font-size:17px;height: 55px">จัดการเครื่องคอมพิวเตอร์</button>
      <button class="btn btn-secondary btn-danger"
        style="width:400px;font-size:17px;height: 55px">กำหนดสิทธผู้ดูแลระบบ</button>
      <button class="btn btn-secondary btn-warning"
        style="width:400px;font-size:17px;color: white;height: 55px">ประวัติการขอใช้เครื่อง</button>
      <button class="btn btn-info" style="width:400px;font-size:17px;height: 55px">ประวัติการจัดการข้อมูล</button>
    </div>
  </div>
  <div class="col-3"></div>
</div><br><br>
    <h5>ข้อมูลการจองของท่าน</h5>
    <hr style="border-width:3px 10px 20px" color="#5bb75b">
<div class="col-3"></div>
<div class="col-10" style="margin-left:8.5%">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link" (click)="admin()">ZONE A &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="zoneb()">ZONE B &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" (click)="zonec()">ZONE C
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="zoned()">ZONE D &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="zonee()">ZONE E &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="zonef()">ZONE F &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="zoneg()">ZONE G &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="zonep()">ZONE P &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="zones()">ZONE S &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
  </ul>

  <!-- ---------------Zone A------------------>
  <br>
  <div align="center">
    <div class="col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
      <nav class="navbar">
        <div class="col-sm-6">
          <a class="navbar-brand" style="font-size: 25px;color: rgb(149, 147, 147);padding-right: 599px"><B>ZONE
              C</B></a>
          <!-- <button class="btn btn-outline-warning" style="padding-right: 500px" ><span class="fa fa-plus"
          (click)="open(content)"  style="color:rgb(112, 204, 120);font-size: 1.5em;"></span></button> -->
        </div>
        <div class="col-sm-6" style="padding-left:550px">
          <!-- <label style="padding-right:150px"></label> -->
          <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>
          <label style="margin-left:1em"> ปิดทั้งโซน </label>
        </div>
      </nav>
      <table class="table table-striped">
        <thead>
          <tr>
            <td style="text-align:center;font-size:20px;background-color: #5bb75b;color: #fff">#</td>
            <td style="text-align:center;font-size:20px;background-color: #5bb75b;color: #fff">Zone</td>
            <td style="text-align:center;font-size:20px;background-color: #5bb75b;color: #fff">Seat</td>
            <td style="text-align:center;font-size:20px;background-color: #5bb75b;color: #fff">Device</td>
            <td style="text-align:center;font-size:20px;background-color: #5bb75b;color: #fff">Type</td>
            <td style="text-align:center;font-size:20px;background-color: #5bb75b;color: #fff">Action</td>
            <td style="text-align:center;font-size:20px;background-color: #5bb75b;color: #fff">Status</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="text-align:center; width: 100px;">1</th>
            <td style="text-align:center; width: 200px;">C</td>
            <td style="text-align:center; width: 200px;">C1</td>
            <td style="text-align:center; width: 200px;">Computer</td>
            <td style="text-align:center; width: 200px;">Windows</td>
            <td style="text-align:center;font-size: 20px; width: 200px;">
<<<<<<< HEAD
              <button class="btn btn-outline-success" (click)="open(content)">จัดการ &nbsp;<span class="fa fa-edit"
=======
              <button class="btn btn-outline-success"(click)="open(content)">จัดการ &nbsp;<span class="fa fa-edit"
>>>>>>> 0bc851c5a626ccd26a8c02345b4a49ef4a2e8a96
                  style="color:rgb(112, 204, 120);font-size: 1.5em;" (click)="open(content)"></span></button>
            </td>
            <td style="text-align:center; width:300px;">
              <label class="switch" style="margin-left:5em">
                <input type="checkbox">
                <span class="slider"></span>
              </label>
              <label style="padding-left:1em">ปิดให้บริการ</label>

            </td>
          </tr>
          <tr>
            <th scope="row" style="text-align:center">2</th>
            <td style="text-align:center">C</td>
            <td style="text-align:center">C2</td>
            <td style="text-align:center">Computer</td>
            <td style="text-align:center; width: 200px;">Windows</td>
            <td style="text-align:center;font-size: 20px; width: 200px;">
<<<<<<< HEAD
              <button class="btn btn-outline-success" (click)="open(content)">จัดการ &nbsp;<span class="fa fa-edit"
=======
              <button class="btn btn-outline-success"(click)="open(content)">จัดการ &nbsp;<span class="fa fa-edit"
>>>>>>> 0bc851c5a626ccd26a8c02345b4a49ef4a2e8a96
                  style="color:rgb(112, 204, 120);font-size: 1.5em;" (click)="open(content)"></span></button>
            </td>
            <td style="text-align:center">
              <label class="switch" style="margin-left:5em">
                <input type="checkbox">
                <span class="slider"></span>
              </label>
              <label style="padding-left:1em">ปิดให้บริการ</label>

            </td>
          </tr>
          <tr>
            <th scope="row" style="text-align:center">3</th>
            <td style="text-align:center">C</td>
            <td style="text-align:center">C3</td>
            <td style="text-align:center">Computer</td>
            <td style="text-align:center; width: 200px;">Windows</td>
            <td style="text-align:center;font-size: 20px; width: 200px;">
<<<<<<< HEAD
              <button class="btn btn-outline-success" (click)="open(content)">จัดการ &nbsp;<span class="fa fa-edit"
=======
              <button class="btn btn-outline-success"(click)="open(content)">จัดการ &nbsp;<span class="fa fa-edit"
>>>>>>> 0bc851c5a626ccd26a8c02345b4a49ef4a2e8a96
                  style="color:rgb(112, 204, 120);font-size: 1.5em;" (click)="open(content)"></span></button>
            </td>
            <td style="text-align:center">
              <label class="switch" style="margin-left:5em">
                <input type="checkbox">
                <span class="slider"></span>
              </label>
              <label style="padding-left:1em">ปิดให้บริการ</label>

            </td>
          </tr>
          <tr>
            <th scope="row" style="text-align:center">4</th>
            <td style="text-align:center">C</td>
            <td style="text-align:center">C4</td>
            <td style="text-align:center">Computer</td>
            <td style="text-align:center; width: 200px;">Windows</td>
            <td style="text-align:center;font-size: 20px; width: 200px;">
              <button class="btn btn-outline-success" (click)="open(content)">จัดการ &nbsp;<span class="fa fa-edit"
                  style="color:rgb(112, 204, 120);font-size: 1.5em;" (click)="open(content)"></span></button>
            </td>
            <td style="text-align:center">
              <label class="switch" style="margin-left:5em">
                <input type="checkbox">
                <span class="slider"></span>
              </label>
              <label style="padding-left:1em">ปิดให้บริการ</label>

            </td>
          </tr>
          <tr>
            <th scope="row" style="text-align:center">5</th>
            <td style="text-align:center">C</td>
            <td style="text-align:center">C5</td>
            <td style="text-align:center">Computer</td>
            <td style="text-align:center; width: 200px;">Windows</td>
            <td style="text-align:center;font-size: 20px; width: 200px;">
                <button class="btn btn-outline-success">จัดการ &nbsp;<span class="fa fa-edit"
                    style="color:rgb(112, 204, 120);font-size: 1.5em;" (click)="open(content)"></span></button>
              </td>
            <td style="text-align:center">
              <label class="switch" style="margin-left:5em">
                <input type="checkbox">
                <span class="slider"></span>
              </label>
              <label style="padding-left:1em">ปิดให้บริการ</label>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- ------------------createzone--------------------- -->

<ng-template #content let-modal>
  <div class="modal-header">
    <span class="fa fa-plus" style="color:rgb(55, 194, 62);font-size: 1.5em;margin-top: 8px"></span>
    <h4 class="modal-title" id="modal-basic-title">เพิ่มเครื่อง</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="manageRoom">

      <div class="form-row align-items-center">
        <div class="col-sm-4">
          <div class="input-group mb-3" style="width:250px">
            <div class="input-group-prepend">
              <span class="input-group-text" type="text" id="basic-addon1">
                <font color="#fff">Zone</font>
              </span>
            </div>
            <select name="zoneroom" class="custom-select mr-sm-2" type="text" id="inlineFormCustomSelect"
              formControlName="zone" (change)="onChange($event.target.value)">
              <option value="">--Select Zone--</option>
              <option *ngFor="let zones of zonecom" [value]="zones.id">{{zones.zone}}</option>
            </select>
          </div>
        </div>



        <div class="col-sm-4">
          <div class="input-group mb-3" style="width:250px">
            <div class="input-group-prepend selcls">
              <span class="input-group-text selcls" type="text" id="basic-addon1">
                <font color="#fff">Type</font>
              </span>
            </div>
            <select class="custom-select mr-sm-2 selcls" type="text" id="inlineFormCustomSelect"
              formControlName="category">
              <option value="">--Select Category--</option>
              <option *ngFor="let com of category" [value]="com.id">{{com.type}}</option>
            </select>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="input-group mb-3" style="width:250px">
            <div class="input-group-prepend">
              <span class="input-group-text" type="text">
                <font color="#fff">IP</font>
              </span>
            </div>
            <input type="text" class="form-control" formControlName="ip">
          </div>
        </div>



        <div class="input-group col-sm-4" style="width:250px">
          <div class="input-group-prepend">
            <span class="input-group-text" type="text" id="basic-addon1">
              <font color="#fff">Seat</font>
            </span>
          </div>
          <select class="custom-select mr-sm-2" type="text" id="inlineFormCustomSelect" formControlName="seat">
            <option value="">--Select Seat--</option>
            <option *ngFor="let zoneroom of seatcom" [value]="zoneroom">{{zoneroom}}</option>
          </select>
        </div>


        <div class="input-group col-sm-8">
          <div class="input-group-prepend">
            <span class="input-group-text" type="text" id="basic-addon1">
              <font color="#fff">Spec</font>
            </span>
          </div>
          <input type="text" class="form-control" formControlName="spec">
        </div>

      </div>
      <!-- <button class="btn" style="width:250px;" (click)="create()">บันทึก</button><br> modal.close('Save click')-->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
<!-- -----------------------------------modal edit-------------------------------------- -->
<ng-template #contents let-modal>
  <div class="modal-header">
    <span class="fa fa-plus" style="color:rgb(55, 194, 62);font-size: 1.5em;margin-top: 8px"></span>
    <h4 class="modal-title" id="modal-basic-title">แก้ไขเครื่อง</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="manageRoom">

      <div class="form-row align-items-center">
        <div class="col-sm-4">
          <div class="input-group mb-3" style="width:250px">
            <div class="input-group-prepend">
              <span class="input-group-text" type="text" id="basic-addon1">
                <font color="#fff">Zone</font>
              </span>
            </div>

            <select name="zoneroom" class="custom-select mr-sm-2" type="text" id="inlineFormCustomSelect"
              formControlName="zone" (change)="onChange($event.target.value)">
              <option value="">--Select Zone--</option>
              <option *ngFor="let zones of zonecom" [value]="zones.id">{{zones.zone}}</option>
            </select>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="input-group mb-3" style="width:250px">
            <div class="input-group-prepend selcls">
              <span class="input-group-text selcls" type="text" id="basic-addon1">
                <font color="#fff">Type</font>
              </span>
            </div>
            <select class="custom-select mr-sm-2 selcls" type="text" id="inlineFormCustomSelect"
              formControlName="category">
              <option value="">--Select Category--</option>
              <option *ngFor="let com of category" [value]="com.id">{{com.type}}</option>
            </select>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="input-group mb-3" style="width:250px">
            <div class="input-group-prepend">
              <span class="input-group-text" type="text">
                <font color="#fff">IP</font>
              </span>
            </div>
            <input type="text" class="form-control" formControlName="ip">
          </div>
        </div>

        <div class="input-group col-sm-4" style="width:250px">
          <div class="input-group-prepend">
            <span class="input-group-text" type="text" id="basic-addon1">
              <font color="#fff">Seat</font>
            </span>
          </div>
          <select class="custom-select mr-sm-2" type="text" id="inlineFormCustomSelect" formControlName="seat">
            <option value="">--Select Seat--</option>
            <option *ngFor="let zoneroom of seatcom" [value]="zoneroom">{{zoneroom}}</option>
          </select>
        </div>


        <div class="input-group col-sm-8">
          <div class="input-group-prepend">
            <span class="input-group-text" type="text" id="basic-addon1">
              <font color="#fff">Spec</font>
            </span>
          </div>
          <input type="text" class="form-control" formControlName="spec">
        </div>

      </div>
      <!-- <button class="btn" style="width:250px;" (click)="create()">บันทึก</button><br> modal.close('Save click')-->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>