.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(23, 202, 32);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(243, 33, 33);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(243, 33, 33);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(45px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ------------------------------------------ */
.TableLine {
    border-top-style: none;
    border-right-style: none;   
    border-bottom-style: none;
    border-style: rounded;
    
    border-left-style: solid;   
    border-left-width: 1px;
    border-left-color: #c2c2c2;
       }

       input[type=text] {
        border: 1px solid rgb(55, 194, 62);
        /* border-radius: 4px; */
      }
      select[type=text] {
        border: 1px solid rgb(55, 194, 62);
        /* border-radius: 4px; */
      }
      span[type=text] {
        border: 1px solid rgb(55, 194, 62);
        background-color: rgb(55, 194, 62)
      }
    /* ----------btn------------- */
    /* html, body {
        height: 100%;
      }
      
      .wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .button {
        width: 200px;
        height: 45px;
        letter-spacing: 2.5px;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        }
      
      .button:hover {
        background-color: #5bb75b;
        color: #fff;
        transform: translateY(-7px);
      } */

      