.user{
    margin-left: 30px;
}
.pass{
    margin-left: 30px;
}
.login{
    margin-left: 50px;
}
/* .but{
    margin-left: 665px;
    height: 150px;
} */
.centered {
    text-align: center;
    font-size: 0;
 }
 .date {
    margin-left: 35px;
 }
 .hour {
    margin-left: 240px;
 }
 .time {
    margin-left: 235px;
 }
 .user1 {
    margin-left: 35px;
 }
 .pass1 {
    margin-left: 275px;
 }
 .but1 {
    margin-left: 35px;
 }
 .nav-fill .nav-link.active {
    margin-top: -1px;
    border-top: 2px solid #20a8d8;
}
 
input[type=text] {
   border: 1px solid rgb(55, 194, 62);
   /* border-radius: 4px; */
 }
select[type=text] {
   border: 1px solid rgb(55, 194, 62);
   /* border-radius: 4px; */
 }
button[type=button] {
   border: 1px solid rgb(55, 194, 62);
   /* border-radius: 4px; */
 }
